//-
  /* file: layout.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: Common Page Layout
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

doctype html



//- ////////////////////////////////////////////////////////////
//- //  variables
//- ////////////////////////////////////////////////////////////
block vars

//- ////////////////////////////////////////////////////////////
//- //  mixins
//- ////////////////////////////////////////////////////////////
include ./mixins.pug



html(lang='en')
  //- //////////////////////////////////////////////////////////
  //- //  html head
  //- //////////////////////////////////////////////////////////
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')

    block title
      title #{title}

    link(rel='stylesheet', href='/lib/bootstrap337.css')
    link(rel='stylesheet', href='/lib/font-awesome470.css')
    link(rel='stylesheet', href='/css/dynapps.css')
    link(rel='stylesheet', href='/less/_dynapps.css')
    block css

    if webApp
      //- Here if webApp
      script(src='/lib/jquery311.js')
      script(src='/lib/bootstrap337.js')
    block scriptBeforeBody



  //- //////////////////////////////////////////////////////////
  //- //  html body
  //- //////////////////////////////////////////////////////////
  body
    //- ========================================================
    //- =   block header
    //- ========================================================
    block header
      if webApp
        //- Here if webApp
        include ./nav.pug
      else
        //- Here if mobileApp
        include ./nav-mobile.pug

    //- ========================================================
    //- =   block content
    //- ========================================================
    .bg-content(style=background?background:'')
      .container

        br
        br
        br

        if(greeting)
          p.alert.alert-info #{greeting}
            a.close(href='#',data-dismiss='alert',aria-label='close') &times;

        if(lasterror)
          p.alert.alert-danger #{lasterror}
            a.close(href='#',data-dismiss='alert',aria-label='close') &times;

        if(flashmessage && flashmessage!=='')
          p.alert.alert-danger #{flashmessage}
            a.close(href='#',data-dismiss='alert',aria-label='close') &times;

        block content


    //- ========================================================
    //- =   block footer
    //- ========================================================
    block footer
      if webApp
        //- Here if webApp 
        //- .bg-invert.text-center(style='color:#ccc')
        footer.text-center
          div
            a(href='/') DynApps
          div Repo:&nbsp;
            a(href='https://github.com/ikarus512/fcc1' target='_blank') github.com/ikarus512/fcc1
          div Author:&nbsp;
            a(href='http://freecodecamp.com/ikarus512' target='_blank') ikarus512
          .bg-footer-hands

  block scriptAfterBody
