//-
  /* file: app1_poll.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App1 Poll View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Voting';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/lib/Chart.bundle.min.js')
    script(src='/lib/angular-chart.min.js')
    script(src='/js/common/app1/app-poll.js')
    script(src='/js/common/app1/controller-poll.js')
    script(src='/js/common/app1/factory-storage-poll.js')
    script(src='/js/common/directive-my-enter.js')
    script(src='/js/common/directive-my-escape.js')
    script(src='/js/common/directive-my-focus.js')
    script(src='/js/common/factory-my-error.js')
    script(src='/js/web/service-myConst.js')


block content

  div(
    class='ng-app'
    ng-app='myapp'
    ng-controller='ControllerPoll'
    ng-init="init('"+logintype+"','"+poll_id+"')"
    ng-cloak
  )

    //- //////////////////////////////////////////////////////////
    //- //  view poll
    //- //////////////////////////////////////////////////////////
    #viewPoll.well(ng-show="view=='poll'" ng-cloak)
      h3 {{poll.title}}

      .row
        .col-sm-6
          //- ----------------------------------------------------
          //- --  poll options
          //- ----------------------------------------------------
          h4(ng-show='option.votes.length===0') (No options to choose.)
          div(ng-repeat='option in poll.options' ng-cloak)
            button.btn.btn-success(ng-click='optionVote(option)') {{option.title}}
            span ({{option.votes.length}})
          p(ng-show='option.votes.length!==0') (Press the option button to vote for it.)
          br

          div
            button.btn.btn-info(ng-click='newOptionMode()') Add New Option
          br

          //- ----------------------------------------------------
          //- --  share buttons
          //- ----------------------------------------------------
          div
            label Share with:
            | &nbsp;
            if(shareit_facebook)
              a.btn.btn-primary.btn-xs(
                href=shareit_facebook
                target='_blank'
                title='Facebook'
                aria-label='Facebook'
              )
                .fa.fa-2x.fa-facebook(aria-hidden='true')
              | 
            if(shareit_twitter)
              a.btn.btn-primary.btn-xs(
                href=shareit_twitter
                target='_blank'
                title='Twitter'
                aria-label='Twitter'
              )
                .fa.fa-2x.fa-twitter(aria-hidden='true')
              | 
            if(shareit_odnoklassniki)
              a.btn.btn-primary.btn-xs(
                href=shareit_odnoklassniki
                target='_blank'
                title='Odnoklassniki'
                aria-label='Odnoklassniki'
              )
                .fa.fa-2x.fa-odnoklassniki(aria-hidden='true')
              | 
            if(shareit_vk)
              a.btn.btn-primary.btn-xs(
                href=shareit_vk
                target='_blank'
                title='VKontakte'
                aria-label='VKontakte'
              )
                .fa.fa-2x.fa-vk(aria-hidden='true')
              | 
          br


        .col-sm-6.col-md-4
          //- ----------------------------------------------------
          //- --  chart
          //- ----------------------------------------------------
          canvas.chart.chart-doughnut.my-opacity-1(
            chart-data='chartData'
            chart-labels='chartLabels'
            chart-options='chartOptions'
          )

      //- ========================================================
      //- ==  close/delete poll buttons
      //- ========================================================
      div
        if webApp
          //- Here if webApp
          a.btn.btn-primary(href='/app1/polls') Close
        else
          //- Here if mobileApp
          a.btn.btn-primary(href='#!app1/polls') Close
        | &nbsp;
        button.btn.btn-primary(ng-click='pollDelete()') Delete Poll
      br

    //- //////////////////////////////////////////////////////////
    //- //  add new option
    //- //////////////////////////////////////////////////////////
    #newOption.well(ng-show="view=='newOption'")
      h3 Creating New Option...
      label New Option Title: &nbsp;
      input.form-control(
        placeholder='New Option Title'
        ng-model='newOptionTitle'
        my-escape='newOptionCancel()'
        my-enter='newOptionCreate()'
        my-focus="view=='newOption'"
      )
      br
      br
      button.btn.btn-primary(ng-click='newOptionCancel()') Cancel
      | &nbsp;
      button.btn.btn-primary(ng-click='newOptionCreate()') Create
      br
