//-
  /* file: app1_polls.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App1 Polls View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Voting';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/js/app1/app-polls.js')
    script(src='/js/app1/controller-polls.js')
    script(src='/js/app1/service-storage-polls.js')
    script(src='/js/directive-my-enter.js')
    script(src='/js/directive-my-escape.js')
    script(src='/js/directive-my-focus.js')
    script(src='/js/service-my-error.js')

block content
  .well.my-opacity-08
    h3 Voting App

  div(
    class='ng-app'
    ng-app='myapp'
    ng-controller='ControllerPolls'
    ng-init="init('"+logintype+"')"
    ng-cloak
  )

    //- //////////////////////////////////////////////////////////
    //- //  polls list
    //- //////////////////////////////////////////////////////////
    #polls.well.my-opacity-08(ng-show="view=='polls' && polls.length" ng-cloak)
      h3 Polls:
      div(ng-repeat='poll in polls' ng-cloak)
        if webApp
          //- Here if webApp
          a.btn.btn-primary.form-control(href='/app1/polls/{{poll._id}}') {{poll.title}}
        else
          //- Here if mobileApp
          a.btn.btn-primary.form-control(href='#!app1/polls/{{poll._id}}') {{poll.title}}

    #noPolls.well.my-opacity-08(ng-show="view=='polls' && !polls.length" ng-cloak)
      label No polls.


    //- //////////////////////////////////////////////////////////
    //- //  creating new poll
    //- //////////////////////////////////////////////////////////
    #newPollButtonDiv.well.my-opacity-08(ng-show="view=='polls' && logintype")
      button#createNewPollButton.btn.btn-primary(ng-click='newPollMode()') Create New Poll

    #newPoll.well.my-opacity-08(ng-show="view=='newPoll'")
      h3 Creating New Poll...
      div
        label New Poll Title: &nbsp;
        input.form-control(
          placeholder='New Poll Title'
          ng-model='newPollTitle'
          my-escape='newPollCancel()'
          my-enter='newPollCreate()'
          my-focus="view=='newPoll'"
        )
        br
        br
        button.btn.btn-primary(ng-click='newPollCancel()') Cancel
        | &nbsp;
        button#newPollCreate.btn.btn-primary(ng-click='newPollCreate()') Create
        br
