//-
  /* file: app4_book-trade.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Book Trade
   * AUTHOR: ikarus512
   * CREATED: 2017/05/02
   *
   * MODIFICATION HISTORY
   *  2017/05/02, ikarus512. Initial version.
   *
   */

h3.alert.alert-danger(
  ng-show='curBook.tradeFinished'
) Trade Finished

h3.alert.alert-danger(
  ng-show='!curBook.tradeFinished && !logintype'
) Please log in to participate in the trade.

//- //////////////////////////////////////////////////////////
//- //  add bid form
//- //////////////////////////////////////////////////////////

form#addBidForm(
  name='addBidForm'
  novalidate
  ng-show='uid!==curBook.ownerId && '+
    '!curBook.hasBid && '+
    '!curBook.tradeFinished && logintype'
)

  //- addBidForm.price
  .form-group.has-feedback(
    ng-class="{'has-error': !addBidForm.price.$valid, "+
      "'has-success': addBidForm.price.$valid}"
  )
    label.control-label(for='inputPrice') *Bid price ($): &nbsp;
    input#inputPrice.form-control(
      type='number'
      placeholder='Price'
      name='price'
      ng-model='newBidPrice'
      min='0'
      required
      my-enter='addBid()'
    )

    span.glyphicon.glyphicon-ok.form-control-feedback(
      ng-show='addBidForm.price.$valid'
    )
    span.glyphicon.glyphicon-remove.form-control-feedback(
      ng-show='!addBidForm.price.$valid'
    )

    ng-messages(for='addBidForm.price.$error' role='alert')
      +myMessage('required', 'Bid price is required field.')
      +myMessage('min'     , 'Bid price must be non-negative.')
      +myMessage('number'  , 'Bid price must be number.')

  button#addBid.btn.btn-primary(
    type='button'
    ng-disabled='!addBidForm.$valid'
    ng-click='addBid()'
  ) Add Bid

  br
  br

//- //////////////////////////////////////////////////////////
//- //  bids
//- //////////////////////////////////////////////////////////

form.form-inline#updateBidForm(
  name='updateBidForm'
  novalidate
)
  .bids(
    ng-repeat='bid in curBook.bids | orderBy : \'price\' : reverse'
    ng-cloak
  )

    //- Bid view for non-owner
    .bid.bid-bg-gray(ng-show='uid!==bid.by._id')
      .bid-price ${{bid.price}} &nbsp;
      .bid-user {{bid.by.name}} &nbsp;

      //- Book owner can choose the bid to finish trade
      button.btn.btn-primary.btn-xs(
        type='button'
        id='chooseBidButton{{bid._id}}'
        ng-show='!curBook.tradeFinished && uid===curBook.ownerId'
        ng-click='chooseBid(bid)'
      ) Choose this Bid to Finish Trade
      | &nbsp;

      .bid-chosen(ng-show='bid.chosen') Chosen Bid
      | &nbsp;

      include ./app4_book-trade-talk-owner.pug

    //- Bid view for bid owner
    .bid(ng-show='uid===bid.by._id')
      .bid-price ${{bid.price}} &nbsp;
      .bid-user(style='color: red;') {{bid.by.name}} (you) &nbsp;

      //- Bid owner can change his bid
      span(ng-show='!curBook.tradeFinished')
        input-price-update(
          placeholder='\'Bid Price\''
          name='price{{bid._id}}'
          error='updateBidForm[\'price\'+bid._id].$error'
          ng-model='bid.updateBidPrice'
          my-enter='updateBid(updateBidForm[\'price\'+bid._id].$valid, '+
            'bid.price, bid.updateBidPrice)'
          my-focus='bid.focusMe'
          sort-index='{{$index}}'
        )

      span(ng-show='!curBook.tradeFinished')
        button.btn.btn-primary.btn-xs(
          type='button'
          id='updateBidButton{{bid._id}}'
          ng-disabled='!updateBidForm[\'price\'+bid._id].$valid || '+
            'bid.price===bid.updateBidPrice'
          ng-click='updateBid(updateBidForm[\'price\'+bid._id].$valid,'+
            'bid.price,bid.updateBidPrice)'
        ) Update Bid Price

        | &nbsp;

      .bid-chosen(ng-show='bid.chosen') Chosen Bid
      | &nbsp;

      include ./app4_book-trade-talk-bidder.pug
