//-
  /* file: app1_polls.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App1 Polls View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Voting';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/js/common/app1/app1polls.module.js')
    script(src='/js/common/app1/controller-polls.js')
    script(src='/js/common/app1/factory-storage-polls.js')
    script(src='/js/common/a_components/a_components.module.js')
    script(src='/js/common/a_components/ajax-loading-spinner.js')
    script(src='/js/common/a_common/a_common.module.js')
    script(src='/js/common/a_common/directive-my-enter.js')
    script(src='/js/common/a_common/directive-my-escape.js')
    script(src='/js/common/a_common/directive-my-focus.js')
    script(src='/js/common/a_common/factory-my-error.js')
    script(src='/js/web/service-myConst.js')
    script(src='/js/web/service-user.js')
    script.
      angular.module('app1polls')
      .value('backendParams', {
        logintype: '#{logintype}',
        username:  '#{username}',
      });

block content

  div(
    class='ng-app'
    ng-app=(webApp?'app1polls':false)
    ng-controller='ControllerPolls'
    ng-cloak
  )

    if mobileApp
      include ./include/nav-mobile.pug

    //- //////////////////////////////////////////////////////////
    //- //  polls list
    //- //////////////////////////////////////////////////////////
    #polls.well(ng-show='view=="polls" && polls.length' ng-cloak)
      h3 Polls:
      div(ng-repeat='poll in polls' ng-cloak)
        a.btn.btn-primary.form-control(href='{{urlPrefix}}/app1/polls/{{poll._id}}')
          | {{poll.title}}

    #noPolls.well(ng-show='view=="polls" && !polls.length' ng-cloak)
      label No polls.


    //- //////////////////////////////////////////////////////////
    //- //  creating new poll
    //- //////////////////////////////////////////////////////////
    #newPollButtonDiv.well(ng-show='view=="polls" && logintype')
      button#createNewPollButton.btn.btn-primary(ng-click='newPollMode()') Create New Poll

    #newPoll.well(ng-show='view=="newPoll"')
      h3 Creating New Poll...
      div
        label New Poll Title: &nbsp;
        input.form-control(
          placeholder='New Poll Title'
          ng-model='newPollTitle'
          my-escape='newPollCancel()'
          my-enter='newPollCreate()'
          my-focus='view=="newPoll"'
        )
        br
        br
        button.btn.btn-primary(ng-click='newPollCancel()') Cancel
        | &nbsp;
        button#newPollCreate.btn.btn-primary(ng-click='newPollCreate()') Create
        br

    ajax-loading-spinner(ajax-loading-var='{{ajaxLoadingSpinner}}')
