//-
  /* file: app2_nightlife.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App2 Nightlife View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Nightlife';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/lib/leaflet/leaflet.js')
    script(src='/js/common/app2/app.js')
    script(src='/js/common/app2/controller-main.js')
    script(src='/js/common/app2/directive-map-google.js')
    script(src='/js/common/app2/directive-map-leaflet.js')
    script(src='/js/common/app2/factory-cafe-storage.js')
    script(src='/js/common/components/ajax-loading-spinner.js')
    script(src='/js/common/factory-my-error.js')
    script(src='/js/web/service-myConst.js')
    script(src='/js/web/service-user.js')
    script.
      angular.module('myapp')
      .value('backendParams', {
        logintype: '#{logintype}',
        username:  '#{username}',
        lat:            '#{app2state_lat}',
        lng:            '#{app2state_lng}',
        zoom:           '#{app2state_zoom}',
        radius:         '#{app2state_radius}',
        selectedCafeId: '#{app2state_selectedCafeId}',
      });

block scriptAfterBody
  if webApp
    script(
      src='https://maps.googleapis.com/maps/api/js?key='+
        process.env.APP_GOOGLE_MAPS_API_KEY+
        '&libraries=places,geometry'
    )

block content
  .well
    h3 Nightlife Coordination App

  div(
    class='ng-app'
    ng-app=(webApp?'myapp':false)
    ng-controller='myApp2ControllerMain'
    ng-cloak
  )

    if mobileApp
      include ./include/nav-mobile.pug

    .row
      //- //////////////////////////////////////////////////////////
      //- //  map
      //- //////////////////////////////////////////////////////////
      .col-sm-5
        .well
          if webApp
            my-google-map(
              map-cafes='cafes'
              map-selected-cafe-id='selectedCafeId'
              map-center='center'
              map-zoom='zoom'
              style='width:100%;height:300px;'

              map-moved='mapMoved'
              map-selected-cafe='mapSelectedCafe'
              on-map-init='onMapInit'
              cafes-unselect='cafesUnselect'
            )

          else
            my-leaflet-map(
              map-cafes='cafes'
              map-selected-cafe-id='selectedCafeId'
              map-center='center'
              map-zoom='zoom'
              style='width:100%;height:300px;'

              map-moved='mapMoved'
              map-selected-cafe='mapSelectedCafe'
              on-map-init='onMapInit'
              cafes-unselect='cafesUnselect'
            )

      //- //////////////////////////////////////////////////////////
      //- //  cafesList
      //- //////////////////////////////////////////////////////////
      .col-sm-7
        #noCafes.well(ng-show='!cafes.length')
          label No restaurants/cafes/bars found.
        #cafesList.well(ng-show='cafes.length' ng-cloak)
          div(ng-repeat='cafe in cafes')
            //- --------------------
            //- --  cafe
            //- --------------------
            .media(ng-show='cafe.show' style='border: 1px solid grey')
              .media-left
                a(href='#')
                  img.media-object(src='{{cafe.photo}}' alt='{{cafe.name}}')
              .media-body
                h4.media-heading(ng-show='!cafe.selected' ng-click='listSelectedCafe(cafe._id)')
                  | {{cafe.name}}
                h4.media-heading(ng-show='cafe.selected' ng-click='cafesUnselect()')
                  | {{cafe.name}}
                | {{cafe.text}}

            //- --------------------
            //- --  cafe visit plan
            //- --------------------
            div(ng-show='cafe.selected && cafe._id')
              p: b Visit Plan: &nbsp;
              .timeslots(ng-repeat='timeslot in cafe.timeslots')
                //- --------------------
                //- --  timeslot
                //- --------------------
                .cafe-timeslot
                  b {{timeslot.strDate}}:
                    |  {{timeslot.strHoursStart}}:{{timeslot.strMinutesStart}} -
                    |  {{timeslot.strHoursEnd}}:{{timeslot.strMinutesEnd}}
                  div(style='margin-left:20px;')
                    div
                      span(ng-show='!timeslot.planned') Not planned by you. &nbsp;
                      span(ng-show='timeslot.planned') Planned by you. &nbsp;
                      button.btn.btn-primary.btn-xs(
                        ng-show='!timeslot.planned'
                        ng-click='onPlan(cafe, timeslot)'
                      )  plan
                      button.btn.btn-danger.btn-xs(
                        ng-show='timeslot.planned'
                        ng-click='onUnplan(cafe, timeslot)'
                      )  unplan
                    div.cafe-no-visitors-msg(ng-show='!timeslot.users.length') Planned by nobody.
                    div(ng-show='timeslot.users.length') Planned by:
                      span(ng-repeat='user in timeslot.users')
                        span.cafe-visitor-name  {{user}}
                        span {{$last ? '.' : ','}}

    .row
      //- //////////////////////////////////////////////////////////
      //- //  Notes
      //- //////////////////////////////////////////////////////////
      .well
        - var SEARCH_LIMIT = 15;
        p
          b Note 1:
          |  This is just educational project. Hence there are a couple of
          |  limitations and restrictions, described below. Please be patient when
          |  encountering some of them.
        p
          b Note 2:
          |  There is internal restriction to show not more than
          |  #{SEARCH_LIMIT} cafes/bars/restaurant places simultaneously.
          |  So, some of them can be hidden, despite more ones available in database.
          |  To be sure to view all ones, please zoom up so that
          |  not more than #{SEARCH_LIMIT} ones are visible.
        p
          b Note 3:
          |  Map interface is intentionally slowed down
          |  to not overload server with update requests.
        p
          b Note 4:
          |  We use Google API under free non-commercial account,
          |  and this can be reason of additional slowdown.
          |  Please be patient.
        p
          b Note 5:
          |  We use free DB service with limited DB size.
          |  Hence we limited total number of cafes to 100000.

    ajax-loading-spinner(ajax-loading-var='{{ajaxLoadingSpinner}}')
