//-
  /* file: app3_stock.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App3 Stock View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Stock';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/lib/d3.v4.min.js')
    script(src='/js/common/app3/app.js')
    script(src='/js/common/app3/controller-main.js')
    script(src='/js/common/app3/directive-chart1.js')
    script(src='/js/common/app3/factory-rest.js')
    script(src='/js/common/app3/factory-websocket.js')
    script(src='/js/common/factory-my-error.js')
    script(src='/js/web/service-myConst.js')
    script(src='/js/web/service-user.js')


block content
  .well
    h3 Chart the Stock Market
    p Using WebSocket, Angular, D3.

  .well
    div(
      class='ng-app'
      ng-app=(webApp?'myapp':false)
      ng-controller='myApp3ControllerMain'
      ng-init="init('"+logintype+"','"+username+"')"
      ng-cloak
    )
      div(ng-show='logintype')
        chart1(data='chart1Data' class='chart1')

        button.btn.btn-primary(
          ng-show='!chart1Data.data.stocks.stock1'
          ng-click='addStockName(\'stock1\')'
        ) Add stock1
        button.btn.btn-danger(
          ng-show='chart1Data.data.stocks.stock1'
          ng-click='removeStockName(\'stock1\')'
        ) Remove stock1
        button.btn.btn-primary(
          ng-show='!chart1Data.data.stocks.stock2'
          ng-click='addStockName(\'stock2\')'
        ) Add stock2
        button.btn.btn-danger(
          ng-show='chart1Data.data.stocks.stock2'
          ng-click='removeStockName(\'stock2\')'
        ) Remove stock2
        button.btn.btn-primary(
          ng-show='!chart1Data.data.stocks.stock3'
          ng-click='addStockName(\'stock3\')'
        ) Add stock3
        button.btn.btn-danger(
          ng-show='chart1Data.data.stocks.stock3'
          ng-click='removeStockName(\'stock3\')'
        ) Remove stock3
        button.btn.btn-primary(
          ng-show='!chart1Data.data.stocks.stock4'
          ng-click='addStockName(\'stock4\')'
        ) Add stock4
        button.btn.btn-danger(
          ng-show='chart1Data.data.stocks.stock4'
          ng-click='removeStockName(\'stock4\')'
        ) Remove stock4
        button.btn.btn-primary(
          ng-show='!chart1Data.data.stocks.stock5'
          ng-click='addStockName(\'stock5\')'
        ) Add stock5
        button.btn.btn-danger(
          ng-show='chart1Data.data.stocks.stock5'
          ng-click='removeStockName(\'stock5\')'
        ) Remove stock5

      p(ng-show='!logintype') Please log in, in order to view stock data chart.
