//-
  /* file: login.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: Log In Page View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Login';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_crowd.png);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/js/common/dummy.module.js')

block content

  div(ng-app=webApp?'dummyApp':false class=webApp?'ng-app':false)

  .row
    .col-sm-6.col-md-4
      .panel.panel-default
        .panel-heading
          h2 Log In as Local User:
        .panel-body
          form(action='/auth/local' method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            .form-group
              label.sr-only(for='loginUsername') User
              input#loginUsername.form-control(
                name='username'
                type='text'
                placeholder='User Name'
                autofocus
                tabindex='1'
                required
              )
            .form-group
              label.sr-only(for='loginPassword') Password
              input#loginPassword.form-control(
                name='password'
                type='password'
                placeholder='Password'
                tabindex='2'
                required
              )
            button#loginButton.btn.btn-primary.form-control(
              type='submit'
              tabindex='3'
            ) Log In

    .col-sm-6.col-md-4
      .panel.panel-default
        .panel-heading
          h2 Create New Local Account:
        .panel-body
          a.btn.btn-primary.form-control(
            href='/signup'
            tabindex='4'
            title='Sign Up'
            aria-label='Sign Up'
          ) Sign Up

    .col-sm-6.col-md-4
      .panel.panel-default
        .panel-heading
          h2 Log In Using External Account:
        .panel-body
          a.btn.btn-primary.btn-xs(
            href='/auth/facebook'
            tabindex='4'
            title='Facebook'
            aria-label='Facebook'
          ): .fa.fa-2x.fa-facebook(aria-hidden='true')
          | &nbsp;
          a.btn.btn-primary.btn-xs(
            href='/auth/github'
            tabindex='4'
            title='GitHub'
            aria-label='GitHub'
          ): .fa.fa-2x.fa-github(aria-hidden='true')
          | &nbsp;
          a.btn.btn-primary.btn-xs(
            href='/auth/twitter'
            tabindex='5'
            title='Twitter'
            aria-label='Twitter'
          ): .fa.fa-2x.fa-twitter(aria-hidden='true')
          | &nbsp;
