//-
  /* file: _app_index.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: Mobile App Main Page
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

doctype html

html(lang='en')
  //- //////////////////////////////////////////////////////////
  //- //  head
  //- //////////////////////////////////////////////////////////
  head
    //-
      Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
      Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
          * Enable inline JS: add 'unsafe-inline' to default-src
    meta(
      http-equiv='Content-Security-Policy'
      content='' +
        'default-src' +
          ' "self"' +
          ' data:' +
          ' gap:' +
          ' https://ssl.gstatic.com' +
          ' "unsafe-eval"' +
          ';' +
        'script-src ' +
          ' "self"' +
          ' https://maps.googleapis.com' +
          ';' +
        'connect-src ' +
          ' https://ikarus512-fcc1.herokuapp.com' +
          '   wss://ikarus512-fcc1.herokuapp.com' +
          ' https://localhost:5000' +
          '   wss://localhost:5000' +
          ' "self"' +
          ';' +
        'style-src' +
          ' "self"' +
          ' "unsafe-inline"' +
          ';' +
        'media-src' +
          ' *' +
          ';' +
        'img-src' +
          ' "self"' +
          ' data:' +
          ' content:' +
          ' https://ikarus512-fcc1.herokuapp.com' +
          ' https://localhost:5000' +
          ' https://maps.gstatic.com' +
          ' https://*.tile.openstreetmap.org' +
          ';' +
        ''
    )
    meta( name='format-detection' content='telephone=no')
    meta( name='msapplication-tap-highlight' content='no')
    meta( name='viewport' content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    link(rel='stylesheet' type='text/css' href=urlPref+'lib/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'lib/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'lib/material-icons.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'lib/leaflet/leaflet.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'css/dynapps.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'less/_dynapps.css')
    link(rel='stylesheet' type='text/css' href=urlPref+'less/_mobile.css')

    title DynApps

  //- //////////////////////////////////////////////////////////
  //- //  body
  //- //////////////////////////////////////////////////////////
  body(ng-app='myapp')




    include ./include/header.pug

    ng-view

    //- include ./include/footer.pug






    script(src=urlPref+'cordova.js')
    script(src=urlPref+'lib/jquery.min.js')
    script(src=urlPref+'lib/bootstrap.min.js')
    script(src=urlPref+'lib/angular.min.js')
    script(src=urlPref+'lib/angular-route.min.js')

    script(src=urlPref+'js/mobile/cordova-event-handlers.js')

    script(src=urlPref+'js/mobile/app.js')
    script(src=urlPref+'js/mobile/config-httpProvider.js')
    script(src=urlPref+'js/mobile/config-routes.js')
    script(src=urlPref+'js/mobile/service-myConst.js')

    script(src=urlPref+'js/mobile/controller-login.js')
    script(src=urlPref+'js/mobile/controller-home.js')
    script(src=urlPref+'js/mobile/factory-login.js')
    script(src=urlPref+'js/mobile/service-user.js')


    script(src=urlPref+'js/common/components/ajax-loading-spinner.js')
    script(src=urlPref+'js/common/directive-keep-focus.js')
    script(src=urlPref+'js/common/directive-my-enter.js')
    script(src=urlPref+'js/common/directive-my-escape.js')
    script(src=urlPref+'js/common/directive-my-focus.js')
    script(src=urlPref+'js/common/factory-my-error.js')
    script(src=urlPref+'js/common/directive-my-scroll-bottom.js')

    //- app1 polls
    script(src=urlPref+'js/common/app1/controller-polls.js')
    script(src=urlPref+'js/common/app1/factory-storage-polls.js')
    //- app1 poll
    script(src=urlPref+'js/common/app1/controller-poll.js')
    script(src=urlPref+'js/common/app1/factory-storage-poll.js')
    script(src=urlPref+'lib/Chart.bundle.min.js')
    script(src=urlPref+'lib/angular-chart.min.js')

    //- app2
    script(src=urlPref+'lib/leaflet/leaflet.js')
    script(src=urlPref+'js/common/app2/controller-main.js')
    script(src=urlPref+'js/common/app2/directive-map-leaflet.js')
    script(src=urlPref+'js/common/app2/factory-cafe-storage.js')

    //- app3
    script(src=urlPref+'lib/d3.v4.min.js')
    script(src=urlPref+'js/common/app3/controller-main.js')
    script(src=urlPref+'js/common/app3/directive-chart1.js')
    script(src=urlPref+'js/common/app3/factory-rest.js')
    script(src=urlPref+'js/common/app3/factory-websocket.js')

    //- app4 books
    script(src=urlPref+'lib/angular-animate.min.js')
    script(src=urlPref+'lib/angular-messages.min.js')
    script(src=urlPref+'lib/ng-file-upload-all.min.js')
    script(src=urlPref+'js/common/app4/controller-book.js')
    script(src=urlPref+'js/common/app4/factory-book-storage.js')
    script(src=urlPref+'js/common/app4/factory-websocket.js')
    script(src=urlPref+'js/common/app4/filter-msgtime.js')
    script(src=urlPref+'js/common/app4/filter-photo.js')
    script(src=urlPref+'js/common/components/input-price-update.js')
    //- app4 book
    script(src=urlPref+'js/common/app4/controller-main.js')
    script(src=urlPref+'js/common/app4/factory-book-storage.js')
    script(src=urlPref+'js/common/app4/filter-photo.js')
